map http://macaroon.zymlinux.net/ http://macaroon.zymlinux.net:8192/{
    config records proxy.config.http.insert_response_via_str=2
    plugin /usr/lib64/trafficserver/plugins/libacldynamicreferer.so.1
}

map http://(.*)/ http://$1/{
    config records proxy.config.http.insert_response_via_str=2
    plugin /usr/lib64/trafficserver/plugins/libacldynamicreferer.so.1
}
